[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/usr/OSS/systemd_relative/dbus_relative/dbus-1.10.4/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
